# Dependencies
node_modules/

# System files
.DS_Store
.vscode/settings.json

# Logs
*.log
npm-debug.log*

# Output files
*.xlsx
*.xls
commit_export_*.xlsx

# Vue/Vite build files
dist/
dist-ssr/
*.localenv

# Ignore SASS config files
.sass-cache/
